{
    "AzureStorageBlobs": {
        "ConnectionStringFormat": "{{ parsefile_azurestorage_connectionstring_format }}",
        "AccountKey": "{{ parsefile_azurestorage_account_key }}",
        "InputName": "{{ parsefile_azurestorage_blob_container_name }}",
        "InputErrorName": "{{ parsefile_azurestorage_blob_container_name_error }}",
    },
    "AzureStorageLogs": {
        "ConnectionStringFormat": "{{ parsefile_azurestorage_logs_connectionstring_format }}",
        "AccountKey": "{{ parsefile_azurestorage_logs_account_key }}",
        "InputName": "{{ parsefile_azurestorage_table_logs_name }}"
    },
    "ConnectionStrings": {
        "PokerStatDataBase": "Server={{ parsefile_connectionstring_pokerstat_server }};Initial Catalog={{ parsefile_connectionstring_pokerstat_database }};User ID={{ parsefile_connectionstring_pokerstat_user }};Password={{ parsefile_connectionstring_pokerstat_password }};Connection Timeout=30;Max Pool Size=200"
    },
	"Parser":{
		"Period": {{ parsefile_period }}
	}
}